@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
}
.carousel .thumbs-wrapper{
    @apply flex items-center justify-center
}




.homeBanner{
    background-image: url("./assets/home/chef-service.jpg");
}
.st{
    @apply mt-24
}
.container{
    @apply max-w-screen-xl mx-auto
}


.drawer-side a.active {
color: white;
}
.drawer-side a {
    background-color: transparent;
}


.user-btn{
    @apply btn flex items-center border-0 uppercase rounded-none px-8 gap-2 bg-gradient-to-r from-[#896125] to-[#B17E2F]
}

.react-tabs__tab--selected{
    text-decoration: underline;
    text-decoration-color:orange ;
}